<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'admin index.html'%}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="">
  <div align="center">
    <p>&nbsp;</p>
    <table width="100" height="60" border="1" id="customers">
      <tr>
       <th width="100"><div align="center">Staffname</th>
        <th width="100"><div align="center">Feedback</div></th>
        <th width="100"><div align="center">Date</div></th>
      </tr>
      {% for i in val %}
      <tr>
        <td>{{i[0]}},{{i[1]}} </td>
        <td>{{i[2]}}</td>
        <td>{{i[3]}}</td>
      </tr>
      {% endfor %}
    </table>
    <p>&nbsp;</p>
  </div>
</form>
</body>
{%endblock%}
<!--</html>-->
